@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    font-weight: 15;
    line-height: 1.1em;
    color: #999;
    min-width:500px;
}

#addForm {
    display: flex;
    flex-direction: column;
}

#img {
    height: 75px;
    width: 250px;
    display: block;
    object-fit: cover;
}

.rating {
    margin-top: 5px;
    margin-right: 3px;
    width: 50px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2px;
}

.hidden {
    display: none;
}

/* -------------------------------------------------
    SPINNER
 --------------------------------------------------- */
#spinnerContainer {
    padding-top: 10%;
    text-align: center;
    vertical-align: text-bottom;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}


input[type="checkbox"] + label {
    margin-left : 3px;
    margin-right : 3px;
}

#buttons_group{
    display: flex;
    flex-direction: row;
}

#domain,div {
    margin-right: 10px;
}

/*------------------------------
  ACCORDEON
-------------------------- */
.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}
.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
.accordion-item-header.active::after {
    content: "\2212";
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

/*
@media(max-width:767px) {
    html {
        font-size: 14px;
    }
}
 */
