@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    font-weight: 15;
    line-height: 1.1em;
    color: #999;
}

#img {
    height: 75px;
    width: 250px;
    display: block;
    object-fit: cover;
}

.rating {
    margin-top: 5px;
    margin-right: 3px;
    width: 50px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2px;
}

.hidden {
    display: none;
}

/* -------------------------------------------------
    SPINNER
 --------------------------------------------------- */
#spinnerContainer {
    padding-top: 10%;
    text-align: center;
    vertical-align: text-bottom;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}


input[type="checkbox"] + label {
    margin-left : 3px;
    margin-right : 3px;
}

#buttons_group{
    display: flex;
    flex-direction: row;
}

#domain,div {
    margin-right: 10px;
}
